# $Id: dycast.config,v 1.1 2008/01/04 18:47:18 alan Exp alan 
# config file for DYCAST python scripts

##########################################################################
[system]
##########################################################################

# Python automatically translates / to \ for Windows
windows_dycast_path:    C:/DYCAST/      
unix_dycast_path:       /Users/alan/github/DYCAST/
# dycast.py will append these to the appropriate path above
logfile:            dycast_log.txt
dead_birds_subdir:  inbox/
risk_file_subdir:   outbox/
lib_subdir:         application/libs/

##########################################################################
[ftp]
##########################################################################

server:     westnile.ca.gov
username:   dycast
password:   dycast
filename:   dycast_export.tsv

##########################################################################
[database]
##########################################################################

# Postgresql database connection:
# You may have to modify these depending on how postgresql was installed

dbname:     dycast
user:       postgres
password:   postgres
host:       localhost

# You will only need to change these database parameters if you make 
# changes to the table structure directly in the database

distribution_marginals_table:   dist_margs
dead_birds_table_unprojected:   dead_birds_unprojected
dead_birds_table_projected:     dead_birds_projected
human_cases_table_unprojected:  human_cases_unprojected
human_cases_table_projected:    human_cases_projected
effects_poly_table:             effects_poly_centers_projected
effects_poly_tiles_table:       effects_polys_projected
all_risk_table:                 all_risk
analysis_area_table:            analysis_areas_projected

##########################################################################
[dycast]
# The following five parameters (spatial_domain, temporal_domain, 
# close_in_space, close_in_time, and bird_threshold) are used by the Knox 
# test.  If you adjust any one or more of them, you must be sure that you 
# have generated monte carlo distributions for the new set of parameters.
##########################################################################


# the radius of each analysis area, in miles

spatial_domain: 1.5

# the spatial closeness at which two dead birds are considered a pair, in miles

close_in_space: 0.25

# the temporal closeness at which two dead birds are considered a pair, in days

close_in_time: 3

# the temporal duration of the analysis domain, in days

temporal_domain: 21

# the number of dead birds required in the space-time domain

bird_threshold: 15


##########################################################################
[io]
##########################################################################

# What format to export daily risk.  Possible values are "dbf" and "txt"

export_format: dbf

##########################################################################
[other]
##########################################################################

# These spatial references are EPSG codes
# Note that if you change these, you will also have to change them in the
# postgres_init.sql file and recreate your database tables. 

# This is the unprojected coordinate system for the dead birds
spatial_reference_unprojected: 4269 
# 4269 = NAD 83 Geographic

# This is the projected coordinate system used for analysis
# Change this to something appropriate for your region
spatial_reference_projected: 54003 
# 54003 = World Miller Cylindrical (Equidistant)
